.container {
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .search-bar input {
    width: 200px;
    padding: 5px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .campaign-title {
    word-wrap: break-word;
    max-width: 200px; /* Adjust this value as needed */
  }
  
  /* .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
  } */

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination-controls button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    font-size: 16px;
  }
  

  .actions {
    justify-content: space-between;
  }

  
