<div style="height: 30px;"></div>
<div class="container my-5">
    <h2 class="text-center mb-4">Đối Tác Đồng Hành</h2>
    <div class="row">
      <div *ngFor="let partner of partners" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100 text-center">
          <img [src]="partner.logo" class="card-img-top p-3" alt="{{ partner.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ partner.name }}</h5>
          </div>
        </div>
      </div>
    </div>
</div>
  