footer a {
  color: #38b6ff;
  text-decoration: none;
}

footer a:hover {
  color: #38b6ff;
  text-decoration: underline;
}

html, body {
  height: 100%;
  margin: 0;
}

/* #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
} */


#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-bottom: 50px; /* Điều chỉnh giá trị để tạo khoảng cách với footer */
}


/* footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
} */

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem;
  padding-top: 2rem; /* Tạo khoảng cách từ phần tử bên trên */
  border-top: 1px solid #dee2e6;
}

.content {
  margin-bottom: 50px; /* Điều chỉnh giá trị theo ý muốn */
}
