<!-- <div id="root">
  <main>
  </main>
  <footer class="bg-white text-dark-50 shadow border-top">
    <div class="container">
      <div class="footer-content row border-bottom">
        <div class="about-us p-3 col-md-6">
          <div class="about-logo d-flex align-items-center">
            <img src="Logo.jpg" alt="Quizzes App" height="65" />
            <span class="fs-2 fw-bold ms-2 text-dark"></span>
          </div>
          <p class="ms-3">
            Donate nhiều lên một tí, donate ít quá không lấy đâu !<br>
            Donate nhiều lên một tí, donate ít quá không lấy đâu !<br>
            Donate nhiều lên một tí, donate ít quá không lấy đâu !<br>
          </p>
        </div>
        <div class="footer-menu p-3 col-md-3">
          <div class="text-dark fs-3">Menu</div>
          <ul class="list-unstyled">
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>
              <a routerLink="/quizzes">Quiz</a>
            </li>
            <li>
              <a routerLink="/about">About</a>
            </li>
            <li>
              <a routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer-contact p-3 col-md-3">
          <div class="text-dark fs-3">Contact</div>
          <ul class="list-unstyled">
            <li>
              <fa-icon class="me-2" [icon]="faEnvelope"></fa-icon>
              <a class="text-custom" href="mailto:congdinh2021@gmail.com">ditcuchungmaygmail.com</a>
            </li>
            <li>
              <fa-icon class="me-2" [icon]="faPhone"></fa-icon>
              <a class="text-custom" href="tel:+84944551356">+84 944 551 356</a>
            </li>
            <li>
              <fa-icon class="me-2" [icon]="faLocationDot"></fa-icon>
              <span class="text-custom">123 Xuan Dinh, Bac Tu Liem, Ha Noi, Viet Nam</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright text-center p-3">
        &copy; {{ copyRightDate | date : "MMM yyyy" }} - Angular 18
      </div>
    </div>
  </footer>
</div> -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <!-- <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a> -->
      <a href="https://github.com/vux-66a5/CharityHub" class="me-4 text-reset" target="_blank">
        <i class="fa fa-github"></i>
        
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <img src="Logo.jpg" alt="Quizzes App" height="65" />
          <p>
            Donate nhiều thì lấy, ít thì đi về !<br>
            Donate nhiều thì lấy, ít thì đi về !<br>
            Donate nhiều thì lấy, ít thì đi về !<br>
            Donate nhiều thì lấy, ít thì đi về !<br>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Tech stack
          </h6>
          <p>
            <a href="https://angular.dev/" target="_blank" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/apis" target="_blank" class="text-reset">ASP.NET API</a>
          </p>
          <p>
            <a href="https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16" target="_blank" class="text-reset">MySQL</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Sus links
          </h6>
          <p>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="text-reset">kinda sus link</a>
          </p>
          <p>
            <a href="https://www.youtube.com/watch?v=wCH3q2IsXVs" target="_blank" class="text-reset">kinda sus link</a>
          </p>
          <p>
            <a href="https://www.youtube.com/watch?v=L--tqC9k294" target="_blank" class="text-reset">kinda sus link</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fa fa-home me-3"></i> Nhóm 1</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            nhom1provail&#64;gmail.com
          </p>
          <p><i class="fa fa-phone me-3"></i> 0123 456 789</p>
          <p><i class="fa fa-print me-3"></i> 0987 654 321</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright
    <!-- <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->