  <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0 border-bottom fixed-header">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="Logo.jpg" alt="Your Logo" width="125" height="40">
          </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 custom-spacing">
          <li><a href="/donation-list" class="nav-link px-2 link-dark"> <b>Hoàn cảnh quyên góp</b></a></li>
          <li><a href="#" class="nav-link px-2 link-dark"> <b>Đối tác đồng hành</b></a></li>
          <li><a href="#" class="nav-link px-2 link-dark"> <b>Nhà hảo tâm đắc lực</b></a></li>
        </ul> 

        <div class="col-md-3 text-end" style="margin-right: -15px;">
          <button type="button" class="btn btn-outline-primary me-2" (click)="openLoginDialog()">Quyên góp ngay</button>
        </div>
      </header>
  </div>
